PL/Connected Services/ServiceReferenceReceta/RecetaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57172/RecetaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
  <xs:element name="RecetaAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ML" minOccurs="0" name="receta" nillable="true" type="q1:Receta" />
        <xs:element minOccurs="0" name="matricula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecetaAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ML" minOccurs="0" name="receta" nillable="true" type="q2:Receta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecetaUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ML" minOccurs="0" name="RecetaListResult" nillable="true" type="q3:ArrayOfRecetaAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ideReceta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ML" minOccurs="0" name="RecetaGetByIdResult" nillable="true" type="q4:Receta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>