PL/Connected Services/ServiceReferenceReceta/RecetaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RecetaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57172/RecetaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57172/RecetaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57172/RecetaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecetaService_RecetaAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:RecetaAdd" />
  </wsdl:message>
  <wsdl:message name="IRecetaService_RecetaAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecetaAddResponse" />
  </wsdl:message>
  <wsdl:message name="IRecetaService_RecetaUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:RecetaUpdate" />
  </wsdl:message>
  <wsdl:message name="IRecetaService_RecetaUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecetaUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IRecetaService_RecetaList_InputMessage">
    <wsdl:part name="parameters" element="tns:RecetaList" />
  </wsdl:message>
  <wsdl:message name="IRecetaService_RecetaList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecetaListResponse" />
  </wsdl:message>
  <wsdl:message name="IRecetaService_RecetaGetById_InputMessage">
    <wsdl:part name="parameters" element="tns:RecetaGetById" />
  </wsdl:message>
  <wsdl:message name="IRecetaService_RecetaGetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecetaGetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecetaService">
    <wsdl:operation name="RecetaAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecetaService/RecetaAdd" message="tns:IRecetaService_RecetaAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecetaService/RecetaAddResponse" message="tns:IRecetaService_RecetaAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecetaUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecetaService/RecetaUpdate" message="tns:IRecetaService_RecetaUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecetaService/RecetaUpdateResponse" message="tns:IRecetaService_RecetaUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecetaList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecetaService/RecetaList" message="tns:IRecetaService_RecetaList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecetaService/RecetaListResponse" message="tns:IRecetaService_RecetaList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecetaGetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecetaService/RecetaGetById" message="tns:IRecetaService_RecetaGetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecetaService/RecetaGetByIdResponse" message="tns:IRecetaService_RecetaGetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecetaService" type="tns:IRecetaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecetaAdd">
      <soap:operation soapAction="http://tempuri.org/IRecetaService/RecetaAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecetaUpdate">
      <soap:operation soapAction="http://tempuri.org/IRecetaService/RecetaUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecetaList">
      <soap:operation soapAction="http://tempuri.org/IRecetaService/RecetaList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecetaGetById">
      <soap:operation soapAction="http://tempuri.org/IRecetaService/RecetaGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecetaService">
    <wsdl:port name="BasicHttpBinding_IRecetaService" binding="tns:BasicHttpBinding_IRecetaService">
      <soap:address location="http://localhost:57172/RecetaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>